@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">... TOPLULUK KAYIT FORMU</h1>
    <p>
        <a class="btn btn-outline-primary" href="/Course/apply">kayıt için tıkla</a>
    </p>
    <p></p>
</div>
