@model   List<StoreaApp.Models.Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    @foreach (StoreaApp.Models.Product prd in Model)
    {

        <div>
            <h2>@prd.ProductId</h2>
            <h3>@prd.ProductName</h3>
            <p>@prd.Price</p>
        </div>


    }
</body>
</html>
